/* AboutScreen */
#about-container {
    align: center middle;
    height: 100%;
    width: 100%;
}
#about-banner {
    text-align: center;
    width: 100%;
    padding-bottom: 1;
}
#about-spacer {
    height: 1;
}
.about-text {
    text-align: center;
    text-style: bold;
    width: 100%;
    color: $text;
}
.about-sub {
    text-align: center;
    width: 100%;
    color: $text-muted;
}
.about-version {
    text-align: center;
    width: 100%;
    color: $text-muted;
    padding-bottom: 1;
}
